<aside th:fragment="sidebar" class="sidebar bg-dark text-white p-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/dashboard}">
                <i class="bi bi-house-door me-2"></i> Inicio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/eventos}">
                <i class="bi bi-card-checklist me-2"></i> Eventos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/programacion}">
                <i class="bi bi-calendar3 me-2"></i> Programación
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/participantes}">
                <i class="bi bi-people me-2"></i> Participantes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/ajustes}">
                <i class="bi bi-gear me-2"></i> Configuración
            </a>
        </li>
    </ul>
</aside>