<aside th:fragment="sidebar" class="sidebar bg-dark text-white p-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/}">
                <i class="bi bi-house-door me-2"></i> Inicio
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/events}">
                <i class="bi bi-calendar3 me-2"></i> Eventos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" th:href="@{/settings}">
                <i class="bi bi-gear me-2"></i> Configuración
            </a>
        </li>
    </ul>
</aside>