:root {
    --header-height: 56px;
    --footer-height: 45px;
    --sidebar-width: 14vw;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: var(--header-height);
    flex-shrink: 0;
}

.content-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    width: var(--sidebar-width);
    background-color: #343a40;
    color: white;
    overflow-y: auto;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background-color: #f8f9fa;
}

footer {
    height: var(--footer-height);
    flex-shrink: 0;
}


#loadingModal {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
}

#loadingModal .modal-content {
    box-shadow: none;
    background: transparent;
}




/* PARA CARD DE EVENTOS*/
.event-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.event-img {
    height: 180px;
    object-fit: cover;
}

.badge-custom {
    font-size: 0.8rem;
    padding: 5px 10px;
}

.event-status {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.event-date {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.9rem;
}

/* PARA CARD DE EVENTOS*/